.header-block_top{
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-column-gap: 20px;
}

.header{
    background: url('../picture/person-shoe-sneaker-red-nike-footwear-football-player-77745.jpg')  center top no-repeat #000;
    background-size: cover;
};
