.btn-up{
    position: fixed;
    bottom: 95px;
    right: 5px;
    z-index: 3;
}
.btn-up_size{
    width: 64px;
    height: 64px;
    fill: rgb(15, 14, 15);
    transition-property: fill;
    transition-duration: 400ms;
}
.btn-up_size:hover{
    fill:  rgb(172, 7, 84);
}
@media(max-width:768px){
    .btn-up{
        bottom: 35px;
        right: 25px;
    }
}
@media(max-width:450px){
    .btn-up_size{
        width: 40px;
        height: 40px;
    }
    .btn-up{
        right: 10px;
        bottom: 45px;
    }
}